* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tcolor: white;
    --themeblue: rgba(12, 45, 80, 0.652);
    --shadeofgray: rgb(58, 57, 57);
    --sogforlinks:rgb(171, 171, 171);
}

body {
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    /* background-position: ; */
    /* width: 100vw; */
    background-size: max(1000px , 100vw) 100vh;
    overflow-x: hidden;
    position: relative;
}

.body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    /* filter: opacity(0.3); */
    box-shadow: inset 0px 0px 1000px 0px rgb(16, 15, 15);
    position: relative;
    /* overflow-x: hidden; */
    
}

.body::-webkit-scrollbar
{
    display: none;
}
.container1 {
    width: 100%;
    height: 10.9vh;
    box-sizing: border-box;
    background-color: rgba(12, 45, 80, 0.652);
    padding: 0px 121px;
    display: flex;
    /* position: absolute; */
    filter: drop-shadow(1);
    overflow: hidden;
}

.nav {
    /* background-color: blue; */
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

#cnd1 {
    width: 200px;
    height: 60px;
    /* background-color: yellow; */
    display: flex;
    padding: 10px 0;
    /* border: 2px solid red; */
}

#cnd2 {
    width: 200vw;
    height: 200px;
    /* background-color: #da0909; */
    /* border: 2px solid aliceblue; */
    display: flex;
    padding-right: 20px;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

#cnd2 button {
    width: 80px;
    height: 32px;
    background-color: rgb(189, 1, 1);
    color: var(--tcolor);
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    margin-right: 25px;
}

.container1 .nav img {
    width: 200px;
    height: 100%;
    object-fit: contain;
    /* border: 2px solid black; */
    padding: 0 10px;
    
}












.container2 {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.187);
    display: flex;
    justify-content: center;
    /* max-width: 80vw; */
    /* justify-self: center; */
    /* margin: 0px 20px; */
    z-index: 101;
    position: relative;

}

.container2 .heading {
    width: 100%;
    margin: 100px 0px;
    /* background-color: red; */
    display: flex;
    /* position: absolute; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading .h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #fff; */
    font-weight: bolder;
    text-align: center;
    
}

.heading .h1 div {
    display: flex;
    justify-self: center;
    text-align: center;
    /* margin-bottom: 0; */
}

.heading h1 {
    font-size: 65px;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 2000; */
    color: var(--tcolor);
}

.heading p {
    color: var(--tcolor);
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: 560;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.top-bottom-search {
    color: var(--tcolor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17.5px;
    font-weight: 500;
    text-align: center;
}

.search-bar {
    width: 100%;
    /* background-color: #fff; */
    /* height: ; */
    /* border: 2px solid; */
    /* border-color: aqua; */
    /* display: flex;
            justify-content: center; */
    /* align-items: ; */
    /* align-content: baseline; */
    gap: 5px;
    padding-top: 20px;
}

.search-bar form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#search-bar {

    /* color: white; */
    background-color: transparent;
    font-size: 15px;
    border-color: gray;
    /* align-items: center; */
    /* color: aliceblue; */
    /* text-emphasis-color: aliceblue; */
    /* color-scheme:white ; */
    /* color-interpolation-filters: white; */

}

#search-bar::placeholder {
    color: rgb(171, 168, 168);
}

#search-bar-button {
    width: 200px;
    height: 60px;
    /* padding: 8px 0px; */
    font-size: 22px;
    font-weight: 500;
    color: var(--tcolor);
    background-color: rgb(229, 9, 20);
    border-radius: 5px;
    margin-left: 5px;
    /* margin-top: 10px; */
    /* margin-bottom: 0px; */
    /* text-decoration-color: aliceblue; */
    /* text-emphasis-color: white; */

}












.container3
{
    width: 100vw;
    height: 100%;
    background-color:  rgb(0, 0, 0);
    border: 2px solid var(--themeblue);
    position: relative;
    z-index: 5;
    box-shadow: inset 0px 34px 685px -50px black;

}
#container3-topcurve
{
    width: 100%;
    height: 100px;
    --themeblue: rgb(12, 45, 80);
    background-color:  var(--themeblue);
    border-top: 5px solid rgb(194, 0, 0);
    /* border-radius:00px; */
    border-top-left-radius: 780% 1035%;
    border-top-right-radius: 780% 1035%;
    /* align-self: flex-start; */
    position: absolute;
    top: -10vh;
    /* z-index: 2; */
    box-shadow: inset 0px -69px 115px -7px  black;
    
}

.trending
{
    width: auto;
    height: 80vh;
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* z-index: 6; */
    /* border: 2px solid blue; */

}
#trendingtext
{
    /* height: 20%; */
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: flex-start;
    /* align-items: ; */
    /* background-color: green; */
    /* border:1px solid #fff; */
    padding: 10% 10% 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #fff;
    grid-row: 1;
    /* margin-top: 100px; */
    
}
.trendingblocks
{
    padding: 10% 10% 0%;
    background-color: red;
    width: 90vw;
    height: 100%;
    /* grid-row: 2; */
    /* grid-column: 1/3; */
    /* justify-self: center; */
    overflow-x: auto;
    overflow-y: hidden;
    /* -webkit-overflow-scrolling: ; */
    display: flex;
    /* flex-direction: row; */
    /* gap: 20px; */
    /* justify-content: space-around;
    align-items: center; */
    /* border: 5px solid white ; */
    gap: 40px;
    /* padding: 100px 70px; */
    box-shadow: inset 34px 0px 802px 181px  black;
    /* margin-left :8%; */
}
.trendingblocks::-webkit-scrollbar
{
    display: none;
}


.trendingblock
{
    /* background-color: #fff; */
    /* padding: 135px 95px; */
    /* width: 600px;
    height: 400px; */
    cursor: pointer;
    height: auto;
    object-fit: fill;
    /* align-self: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 400p; */
    /* height: 100%; */
    /* background-color: #fff; */
    border-radius: 10px;
    
}

.trendingimg:hover
{
    /* padding: 150px 105px ; */
    height: 350px;
    /* cursor: pointer; */
    transition-delay: 0ms;
    border: 3px solid white;
}
.trendingimg
{
    border: 1px solid rgba(26, 3, 3, 0.55);
    border-radius: 10px;
    height: 300px;
    transition: height 1.2s ease-out,border 0.5s linear;
}

.edgeblock1 button:hover{
    background-color: #fff;
    color:black ;
}
.edgeblock2 button:hover{
    background-color: #fff;
    color:black ;
}

.edgeblock1 button:active
{
    border: 6px solid black;
}
.edgeblock2 button:active
{
    border: 6px solid black;
}


.edgeblock1
{
    padding: 0px 0px;
    height: 200px;
    /* grid-row: 2; */
    /* grid-column: 1; */
    border-radius: 10px; 
    /* position: sticky; */
    display: flex;
    justify-content: flex-start;
    align-self: center;
    position: absolute;
    left: 20px;
    /* left: 50px; */
    width: 20px;
}
.edgeblock1 button
{
    /* padding: 100px 0px;
    margin-left: 20px; */
    padding: 0px 10px;
    height: 200px;
    border-radius: 10px;
    /* grid-row: 2; */
    /* grid-column: 3; */
    
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border: 1px solid white;
    transition: background-color 0.5s linear;
    transition: border 0.5s ease-in-out;
}
.edgeblock2
{
    /* padding: 0px 60px; */
    height: 200px;
    border-radius: 10px;
    /* grid-row: 2; */
    /* grid-column: 3; */
    align-self: center;
    position: absolute;
    right: 20px;
    
}
.edgeblock2 button
{
    padding: 0px 10px;
    height: 200px;
    border-radius: 10px;
    grid-row: 2;
    grid-column: 3;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    border: 1px solid white;
    transition: all 0.5s linear;
    transition: border 0.5s ease-in-out;
}

/* IMAGING TO SLIDE BLOCKS */
.block1
{
    margin-left: 20px;
}
.block10
{
    margin-right: 20px;
}
/* IMAGING TO SLIDE BLOCKS */


.more-reasons-to-join
{
    overflow-x: auto;
    overflow-y: hidden;
    background-color: black;
    color: black;
    display: flex;
    height: auto;
    width: 100%;
    gap: 15px;
    padding-top: 50px;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.m-r-t-j-heading
{
    /* background-color: yellow; */
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: -5px;
    left: 20%;
}
.m-r-t-j-content
{
    background: radial-gradient(rgb(10, 2, 68) -18%, rgb(50, 2, 121) 76%,purple 208%, brown 298%);
    height: 80%;
    width: 90%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 15px;
    color: #fff;
    box-shadow: inset -245px -136px 76px -39px #101033;
    overflow: auto;
}
.m-r-t-j-content::-webkit-scrollbar
{
    display: none;
}





.lastmain
{
    color: #f8f7f7;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    row-gap: 10px;
    position: relative;
}

.lmdiv
{
    display: flex;
    flex-direction: column;
    
}

.lmdd1
{
    background-color: rgb(48, 47, 47);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 40px 30px;
    justify-content: space-between;
    position: relative;
    
}
.lmdd2
{
    background-color: rgb(58, 57, 57) ;
    height: 10px;
    /* padding: 30px 10px 10px 10px; */
    overflow-x: hidden;
    display: flex;
    align-items: center;
    color:rgb(58, 57, 57);
}
.lmdd2::-webkit-scrollbar
{
    display: none;
}
.lmdd2:active
{
    height: auto;
    color: #fff;
    padding: 30px ;
}
#lmdiv
{
    position:absolute;
    background-color: transparent;
    top: 0px;
    left: 17%;
    font-size: 30px;
    font-weight: 700;
}
.lmdd1:hover
{
    background-color:  rgb(58, 57, 57);
    
}
.lmdd1:active
{
    animation: lmdd2hover 0.5s linear 0 1;
}
@keyframes lmdd2hover 
{
    form
    {
        height: 0px;
    }    
    to
    {
        height: 60px;
    }
}

.fa-solid{
    font-size: 32px;
    font-weight: 100;
}














.container4
{
    overflow-x: auto;
    width: 100%;
    position: relative;
    z-index: 99;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 18%;
    row-gap: 100px;
    
}


.container4 h4{
    display: flex;
    justify-content: center;
    text-align: center;
}

.container4 .c4l2 a
{
    color: var(--sogforlinks);
}
.container4 .c4l2 a:active
{
    color: #fff;
}
.container4 .c4l2 a:hover
{
    color: red;
}
.container4 .c4l2
{
    display: flex;
    align-items: flex-start;
    gap: 100px;
    align-self: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c4p
{
    color: var(--sogforlinks);
    /* background-color: blue; */
    position: absolute;
    top: -20px;
    font-size: larger;
}

.c4l2div p
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 50px;
}
.c4l2
{
    position: relative;
}


.c4l1 p
{
    color: var(--sogforlinks);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.c4l1
{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 120px;
}

.container4::-webkit-scrollbar
{
    display: none;
}










/* HOVER AND ANIMATIONS LEFT*/

#cnd2 button:hover
{
    background-color: rgb(161, 24, 24);
}
#cnd2 button:active
{
    background-color: transparent;
    color: red;
    border: 2px solid white;
}

#search-bar-button:hover
{
    background-color: rgb(161, 24, 24);
}
#search-bar-button:active
{
    background-color: white;
    color: black;
    font-weight: 700;
}

#droplanguage:active
{
    background-color: red;
}
#droplanguage
{
    transition: all 0.5s linear;
}
